:host {
  display: block;
}

button{
	width:50px;
	border:0 none;
	color:#494949;
	font-size:12px;
	padding-top:6px;
	padding-bottom:6px;
	height:31px;
}

.play{
	background:#91dd1b;
}
.stop{
	background:#cb262c;
	color:#ffffff;
}
button:disabled{
	background:#ffffff;
	color:#494949;
}

span#time{
	padding-left:11px;
}