/* Variables */

$normal : #c8dca7;
$low : #c8dca7;
$normal : #91dd1b;
$high : #ffb401;
$immediate : #cc252c;
$hold : #f0ffd8;

$darkHighLight: #333333;
$darkRowBorders: #444444;
$darkFontColor: #eeeeee;
$darkPriorities : #000000;

:host {
  display: block;
}
table{
	margin-top:10px;
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	table-layout:fixed;
	th{
		text-align:left;
		padding-left:9px;
		padding-bottom:20px;
		div.th-container{
			border-right:1px solid #e5e5e5;
			height:27px;
		}
		&.col-corner{
			/*width:100px;*/
			width:100px;
		}
		&.col-time{
			/* width:145px; */
			width:145px;
		}
		&.col-project{
			width:291px;
			width:(291/1359)*100%;
		}
		&.col-priority{
			width:97px;
			width:(97/1359)*100%;
		}
		&.col-status{
			width:151px;
			width:(151/1359)*100%;
		}
		&.col-issue{
			width:389px;
			width:(389/1359)*100%;
		}
		&.col-comment{
			width:212px;
			width:(212/1359)*100%;
		}
	}
	th:last-child{
		border-right:none;
	}
	td{
		height:31px;
		border-bottom:1px solid #e5e5e5;
		padding: 0 5px 0 11px;
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
		&:first-child{
			padding-left:0;
		}
		
		&.prio div{
			
			height:31px;
			line-height:31px;
			text-align:center;
			padding:0 5px;
			overflow:hidden;
			white-space:nowrap;
			text-overflow:ellipsis;
			/*Priorities*/
			&.low{
				background: $low;
			}
			&.normal{
				background: $normal;
			}
			&.high{
				background: $high;
			}
			&.immediate{
				background: $immediate;
				color:#ffffff;
			}
			&.hold{
				background: $hold;
			}
		}
		
		
	}
	tbody tr{
		cursor:pointer;
	}
	tr:hover{
		background:#f9f9f9;
	}
	tr.active{
		background:#f2f2f2;
	}
	
	
	
}
/*Dark theme*/
.dark{
/*:host-context(.dark) { */
	table{
		td{
			border-bottom-color: $darkRowBorders;
			&.prio div{
				color: $darkPriorities;
			}
		}
		th{
			div.th-container{
				border-right-color: $darkRowBorders;
			}
		}
		tr:hover{
			background:#303030;
		}
		tr.active{
			background:$darkHighLight;
		}
	}

}
 
@media (max-width : 1365px) {
/* Styles */
	table {
		th {
			&.col-corner{
				/*width:100px;*/
				width:100px;
			}
			&.col-time{
				/* width:145px; */
				width:145px;
			}
			&.col-project{
				/* width:291px; */
				width:(326/1359)*100%;
			}
			&.col-priority{
				/* width:97px; */
				width:(132/1359)*100%;
			}
			&.col-status{
				/* width:151px; */
				width:(186/1359)*100%;
			}
			&.col-issue{
				/* width:389px; */
				width:(424/1359)*100%;
			}
			&.col-comment{
				/* width:212px; */
				width:0;
			}
		}
		tr td:last-child{
			display:none;
			
		}
	}
}
@media (max-width : 1076px) {
	table {
		th {
			padding-left:5px;
			&.col-corner{
				/*width:100px;*/
				width:100px;
			}
			&.col-time{
				/* width:145px; */
				width:145px;
			}
			&.col-project{
				/* width:291px; */
				width:(326/1359)*100%;
			}
			&.col-priority{
				/* width:97px; */
				width:(132/1359)*100%;
			}
			&.col-status{
				/* width:151px; */
				width:(186/1359)*100%;
			}
			&.col-issue{
				/* width:389px; */
				width:(424/1359)*100%;
			}
			&.col-comment{
				/* width:212px; */
				width:0;
			}
		}
	
	}
	table td{
		padding-left:5px;
	}
}